<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirill Feschenko</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK" rel="stylesheet">
    <link rel="stylesheet" href="../static/sass/styles.css" type="text/css">
    <link rel="stylesheet" href="../static/sass/media.css" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script src="../static/js/gradient.js"></script>
<script src="../static/js/render.js"></script>
<script src="../static/js/utils.js"></script>



<!--<div id="menu__container">-->
<!--    <h1 class="menu__container-title" onclick="scrollToIntroduction()">Feschenko</h1>-->
<!--    <a href="/contact"><h1 class="menu__container-item">Contact</h1></a>-->
<!--    <a href="/me"><h1 class="menu__container-item">About me</h1></a>-->
<!--    <a href="/projects"><h1 class="menu__container-item">Projects</h1></a>-->
<!--    <a href="/blog"><h1 class="menu__container-item">Blog</h1></a>-->
<!--</div>-->


<div id="introduction__container">
    <div id="introduction__content">
        <div id="introduction__text">
            <h1 class="introduction-title">Hello, I'm Kirill Feschenko</h1>
            <h5 class="introduction-caption">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Vestibulum luctus suscipit urna at
                tincidunt. <br> Suspendisse sed nisi nec lectus lobortis auctor. <br> Phasellus sem risus, convallis
                et dolor mattis, <br> viverra accumsan massa.
            </h5>
        </div>
        <div id="scroll__container">
            <div id="scroll__container-wheel"></div>
        </div>
    </div>
</div>

</body>
</html>